<div class="container-fluid">
  <div class='main-banner text-white text-shadow-black d-flex justify-content-center align-items-center <%= current_page?(root_path) ? '' : 'banner-clouds' %>'>
    <div>
      <h1 class="logo <%= current_page?(root_path) ? 'mt-5' : '' %>""><%= title %></h1>
      <h5 class='mt-3'><%= subtitle %></h5>
    </div>
  </div>
</div>